{% extends 'base.html.twig' %}

{% block title %}List Voting Events{% endblock %}

{% block header %}
    {% include 'header.html.twig' with user %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html.twig' with user %}
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('flash_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="col-6 offset-3 d-flex align-items-center justify-content-center pt-5">
        <div class="card col-12" id="register-staff-screen">
            <div class="card-header">
                <h1 class="h3 mb-3 font-weight-normal">Current Vote Events</h1>
            </div>
            <div class="card-body">
                {% for event in events %}
                    <div class="event-item row mb-3  {% if event.isRunning %}event-running{% elseif event.voteComplete %}event-complete{% endif %}">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8">
                                    <h3>{{ event.Name }}</h3>
                                </div>
                                <div class="col-4 event-start">
                                    {% if event.isRunning %}<span class="event-running">Running</span>
                                    {% elseif event.voteComplete %}<span class="event-complete">Closed</span>
                                    {% else %}Starts: {{ event.StartsOn|date("Y-m-d") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="progress col-10 offset-1">
                                    <div class="progress-bar {% if event.isRunning %}event-running{% elseif event.voteComplete %}event-complete{% endif %} w-{{ event.calculations.percent|round }}" role="progressbar" aria-valuenow="{{ event.calculations.percent|round }}" aria-valuemax="100" aria-valuemin="0">
                                        {{ event.calculations.current }}%
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
