{% extends 'base.html.twig' %}

{% block title %}List Voting Events{% endblock %}

{% block header %}
    {% include 'header.html.twig' with user %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html.twig' with user %}
{% endblock %}

{% block body %}
    <div class="col-6 offset-3 d-flex align-items-center justify-content-center pt-5">
        <div class="card col-12" id="register-staff-screen">
            <div class="card-header">
                <h1 class="h3 mb-3 font-weight-normal">Current Vote Events</h1>
            </div>
            <div class="card-body">
                {% for event in events %}

                    {% set statusClass = "" %}
                    {% set canPlay = true %}
                    {% set canStop = false %}
                    {% set canProcess = false %}
                    {% if event.isRunning %}
                        {% set statusClass = "event-running" %}
                        {% set canPlay = false %}
                        {% set canStop = true %}
                    {% elseif event.canProcess %}
                        {% set statusClass = "event-ready" %}
                        {% set canPlay = false %}
                        {% set canProcess = true %}
                    {% elseif event.voteComplete %}
                        {% set statusClass = "event-complete" %}
                        {% set canPlay = false %}
                    {% elseif event.isEnded %}
                        {% set statusClass = "event-complete" %}
                        {% set canPlay = false %}
                    {% endif %}

                    <div class="event-item row mb-3  {{ statusClass }}">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-8">
                                    <h3>{{ event.Name }}</h3>
                                </div>
                                <div class="col-4 event-start text-end mb-3">
                                    {% if event.isRunning %}<span class="event-running">Running</span>
                                    {% elseif canProcess %}<span class="event-ready">Ready to Process</span>
                                        <a class="btn btn-danger pull-right" title="Remove Vote" href="/vote/delete?voteevent={{ event.id }}"><i class="fas fa-trash text-white"></i></a>

                                    {% elseif event.voteComplete or event.isEnded %}<span class="event-complete">Closed</span>
                                    {% else %}Starts: {{ event.StartsOn|date("Y-m-d") }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="progress col-10 offset-1">
                                    <div class="progress-bar {{ statusClass }}" role="progressbar" style="width: {{ event.calculations.percent|round }}%;" aria-valuenow="{{ event.calculations.percent|round }}" aria-valuemax="100" aria-valuemin="0">
                                        {{ event.calculations.current }} / {{ event.calculations.total }}
                                    </div>
                                </div>
                                <div class="col-1 text-end">
                                    {% if canPlay %}
                                        <a class="btn btn-info" title="Start Vote Event Early" href="/vote/start?voteevent={{ event.id }}"><i class="fas fa-play text-white"></i></a>
                                    {% elseif canStop %}
                                        <a class="btn btn-danger" title="End Vote Event Early" href="/vote/end?voteevent={{ event.id }}"><i class="fas fa-octagon text-white"></i></a>
                                    {% elseif canProcess %}
                                        <a class="btn btn-success" title="Process Vote" href="/vote/process?voteevent={{ event.id }}"><i class="fas fa-chalkboard-teacher text-white"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                            {% if event.staffVotes is defined %}
                                <div class="col-10 offset-1">
                                    {% for sv in event.staffVotes  %}
                                    {% set staffPercent = 100* (sv.votes / sv.max)  %}
                                    {% set staffBG = "bg-info" %}
                                    {% if staffPercent <= 10 %}
                                        {% set staffBG = "bg-danger" %}
                                    {% elseif staffPercent <= 30 %}
                                        {% set staffBG = "bg-warning" %}
                                    {% elseif staffPercent == 100 %}
                                        {% set staffBG = "bg-success" %}
                                    {% endif %}
                                        <div class="row">
                                            <div class="col-4">{{ sv.name }}</div>
                                            <div class="col-8 progress">
                                                <div class="progress-bar {{ statusClass }}" role="progressbar" style="min-width: {{ staffPercent|round }}%;" aria-valuenow="{{ staffPercent }}" aria-valuemax="100" aria-valuemin="0">
                                                    {{ sv.votes }} / {{ sv.max }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="progress-bar {{ statusClass }} w-{{ event.calculations.percent|round }}" role="progressbar" aria-valuenow="{{ event.calculations.percent|round }}" aria-valuemax="100" aria-valuemin="0">
                                            {{ event.calculations.current }} / {{ event.calculations.total }}
                                        </div>
                                    {% endfor %}
                                </div>


                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
