{% extends 'base.html.twig' %}

{% block title %}Process Vote{% endblock %}

{% block header %}
    {% include 'header.html.twig' with user %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html.twig' with user %}
{% endblock %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="col-10 offset-1 d-flex align-items-center justify-content-center pt-5">
        <div class="card col-12" id="register-staff-screen">
            <div class="card-header">
                <h2>Voting Results for : {{ event.Name }}</h2>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-2"><h3>Score</h3></div>
                    <div class="col-5"><h3>Vendor</h3></div>
                    <div class="col-5"><h3>Table</h3></div>
                </div>


                {% for v in vendors %}
                    <div class="row vote-process mb-3">
                        <div class="col-2"><button class="btn btn-outline-secondary fa-2x process-check" data-score="{{ v.eventScore }}" data-table="{{ v.tableScore }}">{{ v.eventScore }}</button></div>
                        <div class="col-5">{{ v.name }}</div>
                        <div class="col-5">{{ v.tableRequestType }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="score-reporting-float" class="container">
            <div class="row mb-2"><div class="col text-center"><h3># Vendors</h3></div></div>
            <div class="row mb-3">
                <div id="report-window" class="col-6 text-center align-middle">{{ preapproved }}</div>
                <div id="report-table" class="col-6 align-middle">
                    <div>
                        <span id="spaces-table">{{ tables }}</span> Table Spaces<br/>
                        <span id="spaces-lgbooth">{{ lgbooth }}</span> Large Booths<br/>
                        <span id="spaces-smbooth">{{ smbooth }}</span> Small Booths<br/>
                        <span id="spaces-tbooth">{{ tbooth }}</span> Tattoo Booths<br/>
                        <span id="spaces-bodega">{{ bodega }}</span> Bodega<br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="report-hover" class="col-6 text-center">{{ preapproved }}</div>
                <div id="report-table-hover" class="col-6 align-middle">
                    <div>
                        <span id="hover-table">{{ tables }}</span> Table Spaces<br/>
                        <span id="hover-lgbooth">{{ lgbooth }}</span> Large Booths<br/>
                        <span id="hover-smbooth">{{ smbooth }}</span> Small Booths<br/>
                        <span id="hover-tbooth">{{ tbooth }}</span> Tattoo Booths<br/>
                        <span id="hover-bodega">{{ bodega }}</span> Bodega<br/>
                    </div>
                </div>
            </div>
            {{  form_start(approveform) }}
            {{ form_row(approveform.voteevent) }}
            {{ form_row(approveform.approved) }}
            {{ form_row(approveform.score) }}
            <div class="row text-center"><div class="col"><button type="submit" class="btn btn-primary btn-block"><i class="fas fa-check"></i> Approve</button></div></div>
            {{ form_end(approveform) }}
        </div>
    </div>
{% endblock %}
