{% extends 'base.html.twig' %}

{% block title %}Vote Machine - {{ event.Name }}{% endblock %}

{% block header %}
    {% include 'header.html.twig' with user %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html.twig' with user %}
{% endblock %}

{% block body %}
    <div class="row col-12 d-flex align-items-center justify-content-center pt-5">
        <div class="card col-12" id="register-staff-screen">
            <div class="card-header">
                <h1 class="h3 mb-3 font-weight-normal">Vote Machine - {{ event.Name }} [{{ event.TableCategory }}] ({{ items|length }} Vendors)</h1>
            </div>
            <div class="card-body">
                <div class="col-12">
                    {% for item in items %}
                        <a class="item-bubble m-1 {%  if item.Votes > 0 %}item-voted{% elseif item.isSkip == true %}item-skip{% endif %}" href="/vote/{{ event.id }}/{{ item.Vendor.id }}">{{ item.Vendor.Name|slice(0,1) }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
