{% extends 'base.html.twig' %}

{% block title %}Remove Staff{% endblock %}

{% block header %}
    {% include 'header.html.twig' with user %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar.html.twig' with user %}
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="col-6 offset-3 d-flex align-items-center justify-content-center pt-5">
    <div class="card col-12" id="register-staff-screen">
        <div class="card-body">
            <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
            {{ form_start(changepasswordForm) }}
            {{ form_row(changepasswordForm.currentPassword) }}
            {{ form_row(changepasswordForm.newPassword) }}
            {{ form_row(changepasswordForm.repeatPassword) }}
            {{ form_end(changepasswordForm) }}
            {% endblock %}
        </div>
    </div>
</div>