{% extends 'base.html.twig' %}

{% block title %}Update Staff: {{ editstaffForm.name.vars.value }}{% endblock %}

{% block header %}
    {% include 'header.html.twig' with user %}
{% endblock %}

{% block sidebar %}
    {% include 'sidebar.html.twig' with user %}
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="col-10 offset-1 d-flex align-items-center justify-content-center pt-5">
    <div class="card col-12" id="register-staff-screen">
        <div class="card-body">
            <h1 class="h3 mb-3 font-weight-normal">Update Staff: {{ editstaffForm.name.vars.value }}</h1>

            {{ form_start(editstaffForm) }}
            {{ form_row(editstaffForm.email, {'attr': {'readonly': true}}) }}
            {{ form_row(editstaffForm.name) }}
            {{ form_row(editstaffForm.title) }}
            {{ form_row(editstaffForm.roles) }}
            {{ form_rest(editstaffForm) }}
            <button class="btn btn-lg btn-primary" type="submit">Update {{ editstaffForm.name.vars.value }}</button>
            {{ form_end(editstaffForm) }}
        </div>
    </div>
</div>
{% endblock %}
